.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
    color: #FFFFFF;
}
.pure-menu-heading {
    float: left;
}
.splash-container {
    background: url('zen.jpg') no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.splash {
    width: 80%;
    top: 0;
}
.splash-head, .splash-subhead {
    background-color: rgba(255, 255, 255, 0.5);
    color: #1B6096;
    border-color: #1B6096;
}
.content-head {
    margin-top: 1em;
}
a.discrete-link {
    color: #1B6096;
}
a.discrete-link:hover {
    color: #6FBEF3;
}
.button-xsmall {
    font-size: 70%;
    float: right;
    margin-left: 0.5em;
}
.main-wrapper {
    margin: 74px auto 0px;
    width: 80%;
}
textarea.resize-vertical {
    resize: vertical;
}
.items-wrapper {
    transition: width .5s ease;
}
.button-error {
    background: rgb(202, 60, 60);
}
.pure-form label {
    font-weight: inherit;
}
/* 404 styling */
.notfound-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
	text-align: center;
	color: #1b6096;
	font-size: 3em;
}
.not-found-background {
    background: url('zen.jpg') no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.footer.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
