<!DOCTYPE html>
<html lang="__{locale}">
	<head>
		<meta charset="__{locale}">
		<meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-Language" content="__{locale}" />
		<meta name="language" content="__{locale}" />
		<meta name="description" content="__{webapp-meta-description}" />
		<meta name="keywords" content="__{webapp-meta-keywords}" />
		<meta name="robots" content="all" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>__{webapp-meta-title}</title>
		<link rel="canonical" href="__{canonicalUrl}" />
		<link rel="stylesheet" href="//yui-s.yahooapis.com/pure/0.6.0/pure-min.css" />
		<link rel="stylesheet" href="//yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/css/marketing.css" />
		<link rel="stylesheet" href="/css/demo-site.css" />

		<!-- i18n-express-directive CSS -->
		<link rel="stylesheet" href="/i18n-express-directives.css" />
		<!-- browserified to-do application js app -->
		<script src="/js/todo-app.js"></script>
	</head>
	<body ng-app="ToDoApp" ng-jq="" ng-strict-di="">
		<div class="header">
		    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		        <a class="pure-menu-heading" href="/">__{header-demosite}</a>

		        <ul class="pure-menu-list">
		            <li class="pure-menu-item">
						<a href="/__{locale}/" class="pure-menu-link">__{header-menu-home}</a>
					</li>
		            <li class="pure-menu-item pure-menu-selected">
						<a href="/__{locale}/webapp/#/" class="pure-menu-link">__{header-menu-ngdemo%%AngularJS%%}</a>
					</li>
					<li class="pure-menu-item">
						<i18n-locale-selector locales='[{"id":"en","name":"English"},{"id":"fr","name":"Français"}]' />
					</li>
		        </ul>
		    </div>
		</div>

        <div class="main-wrapper" ng-app="ToDoList" ng-jq="" ng-strict-di="">
			<p>__{webapp-intro%%<a class="discrete-link" href="https://angularjs.org/" target="_blank">AngularJS</a>%%<a class="discrete-link" href="https://github.com/lucsorel/i18n-express" target="_blank">i18n-express</a>%%}</p>
			<div ui-view="items"></div>
		</div>

        <div class="footer l-box is-center">
            __{footer}
        </div>
	</body>
</html>
