<!DOCTYPE html>
<html lang="__{locale}">
	<head>
		<meta charset="__{locale}">
		<meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-Language" content="__{locale}" />
		<meta name="language" content="__{locale}" />
		<meta name="description" content="__{index-meta-description}" />
		<meta name="keywords" content="__{index-meta-keywords}" />
		<meta name="robots" content="all" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>__{index-meta-title}</title>
		<link rel="canonical" href="__{canonicalUrl}" />
		<link rel="stylesheet" href="//yui-s.yahooapis.com/pure/0.6.0/pure-min.css" />
		<link rel="stylesheet" href="//yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" />
		<link rel="stylesheet" href="/css/marketing.css" />
		<link rel="stylesheet" href="/css/demo-site.css" />

		<!-- i18n-express-directive CSS -->
		<link rel="stylesheet" href="/i18n-express-directives.css" />
		<!-- browserified js app wrapping the locale selector directive -->
		<script src="/js/locale-selector.js"></script>
	</head>
	<body>
		<div class="header">
		    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		        <a class="pure-menu-heading" href="/">__{header-demosite}</a>

		        <ul class="pure-menu-list">
		            <li class="pure-menu-item pure-menu-selected">
						<a href="/__{locale}/" class="pure-menu-link">__{header-menu-home}</a>
					</li>
		            <li class="pure-menu-item">
						<a href="/__{locale}/webapp/#/" class="pure-menu-link">__{header-menu-ngdemo%%AngularJS%%}</a>
					</li>
					<li class="pure-menu-item" ng-app="LocaleSelectorApp" ng-jq="" ng-strict-di="">
						<i18n-locale-selector locales='[{"id":"en","name":"English"},{"id":"fr","name":"Français"}]' />
					</li>
		        </ul>
		    </div>
		</div>

		<div class="splash-container">
		    <div class="splash">
		        <h1 class="splash-head">__{splash-demosite}</h1>
		        <p class="splash-subhead">
		            __{splash-subhead}
		        </p>
		        <p>
		            <a href="//github.com/lucsorel/i18n-express" target="_blank" class="pure-button pure-button-primary">__{splash-get-started%%Github%%}</a>
		        </p>
		    </div>
		</div>

		<div class="content-wrapper">
		    <div class="content">
		        <h2 class="content-head is-center">
					__{welcome-title}
				</h2>

		        <div class="pure-g">
		            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

		                <h3 class="content-subhead">
		                    <i class="fa fa-rocket"></i>
		                    __{get-started-title}
		                </h3>
		                <p>
		                    __{get-started-content}
		                </p>
		            </div>
					<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		                <h3 class="content-subhead">
		                    <i class="fa fa-file-code-o"></i>
							__{progressive-modular-title}
		                </h3>
		                <p>
		                    __{progressive-modular-content}
		                </p>
		            </div>
					<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-4">
		                <h3 class="content-subhead">
		                    <i class="fa fa-wrench"></i>
							__{powerful-title}
		                </h3>
		                <p>
		                    __{powerful-content}
		                </p>
		            </div>
		        </div>
		    </div>

		    <div class="footer l-box is-center">
		        __{footer}
		    </div>

		</div>
	</body>
</html>
